<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <link href="index.css" rel="stylesheet">
    <title>Language Trends</title>
    <script>
      var data = {{data|safe}};
      var colors = [
        ['#ff000080', '#ff000010'],
        ['#00ff0080', '#00ff0010'],
        ['#0000ff80', '#0000ff10']];
    </script>
  </head>
  <body>
    <div class="container logo">
        <h1>Language Trends</h1>
    </div>
    <div class="container">
      <div>
        The following chart shows the cumulative number of commits per programming language made in repositories of total size 10 MB or larger.
      </div>
    </div>
    <div class="container">
      <canvas id="chart"></canvas>
      <script>
        $(document).ready(() => {
          let datasets = [];
          for (let l = 0; l < data.langs.length; ++l)
            datasets.push({
                label: data.langs[l],
                borderColor: colors[l][0],
                backgroundColor: colors[l][1],
                fill: 'bottom',
                lineTension: 0,
                data: data.commits.map(r => r[1 + l])
              });
          let ctx = document.getElementById("chart").getContext('2d');
          let myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: data.commits.map(r => new Date(r[0])),
              datasets: datasets
            },
            options: {
              legend: {
                position: 'right'
              },
              elements: {
                line: {
                  borderWidth: 2
                },
                point: {
                  radius: 0
                }
              },
              scales: {
                xAxes: [{
                  type: 'time',
                  time: {
                    unit: 'year'
                  }
                }]
              }
            }
          });
        });
      </script>
    </div>
    <div class="container footer">
      <a href="https://github.com/olegknyazev/language-trends">
        Check out the source on GitHub
      </a>
    </div>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  </body>
</html>
