<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="index.js"></script>
    <link href="index.css" rel="stylesheet">
    <title>Language Trends</title>
    <script>
      var data = {{data|safe}};
    </script>
  </head>
  <body>
    <div class="container logo">
        <h1>Language Trends</h1>
    </div>
    <div class="container">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="monthly" autocomplete="off" checked> Monthly
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="total" autocomplete="off"> Total
        </label>
      </div>
      <div class="chart-description" id="monthly-description">
        The following chart shows the amount of commits made every month in all repositories
        by a given language that have size of 10 MB or larger. Click on a language to toggle it
        on or off.
      </div>
      <div class="chart-description" id="total-description" style="display: none;">
        The following chart shows the cumulative amount of commits made in all repositories
        by a given language that have size of 10 MB or larger. Click on a language to toggle
        it on or off.
      </div>
    </div>
    <div class="container">
      <canvas id="chart"></canvas>
      <script>
        $(document).ready(() => main(data));
      </script>
    </div>
    <div class="container footer">
      <a href="https://github.com/olegknyazev/language-trends">
        Check out the source on GitHub
      </a>
    </div>
    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
  </body>
</html>
